#contacto {


  .contacto-container {

    min-height: 90vh;
  }

  .contacto-img {

    img {
      max-height: 64vh;
    }
  }

  textarea {
    min-height: 200px;
  }

  .social-links {
    margin-top: 10%;

    .fab {
      font-size: 2rem;
      color: white;
      transition: .4s ease;

      &:hover {
        color: $primary-color;
      }
    }
  }
}
