// _general.scss

$primary-color: #00003F;
$secundary-color: #5AF3FF;

body{
  font-family: 'Exo 2', sans-serif;
  font-weight: 300;
  color: white;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Exo 2', sans-serif;
  font-weight: 300;
  color: white;
}

a:focus, .button:focus, .button.alt:focus, .button.added_to_cart:focus,
.button.wc-forward:focus, button:focus, input[type="button"]:focus,
input[type="reset"]:focus, input[type="submit"]:focus {
  outline: none !important;
}

.gradient {
  background: rgb(0,0,63);
  background:  -moz-linear-gradient(-75deg, rgb(0,0,63) 0%, rgb(90,243,255) 100%);
  background:  -webkit-linear-gradient(-75deg, rgb(0,0,63) 0%,rgb(90,243,255) 100%);
  background:  linear-gradient(150deg, rgb(0,0,63) 0%,rgb(90,243,255) 100%) ;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00003f', endColorstr='#5af3ff',GradientType=1 );
  background-repeat: no-repeat;
  background-size: cover;
}

.estrellas {
  min-height: 10vh;
  background-image: url('../assets/svg/estrellas.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.mini-estrellas {
  min-height: 10vh;
  background-image: url('../assets/svg/estrellas-mini.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}


.full-vh {
  min-height: 100vh;
}


.logo {
  max-width: 180px;
  cursor: pointer;
  z-index: 400;
}

.negative-margin {
  margin-top: -9%;
}

.top-bar {
  background: transparent;
}

.top-bar .top-bar-left, .top-bar .top-bar-right {
  @media (max-width: 414px) {
    flex: none !important;
  }
}

.btn-group{
  margin: 5% 0;
}

.bartech-btn {
  background-color: transparent;
  min-width: 200px;
  border: 1px solid #fff;
  border-radius: 5000px;
  font-size: 1.3rem;
  padding: 10px 15%;
  transition: .4s ease;

  &:hover {
    background-color: $primary-color;
    transform: scale(1.02);
    border-color: $primary-color;
  }
}

.reveal {
  border: none;
  padding: 3% 2%;

  .material-icons {
    color: white;
    transition: .5s ease;

    &:hover {
      color: $primary-color;
    }
  }
}

.orbit {

  .orbit-bullets {

    &:focus {
      outline: none !important;
    }

    button {
      width: 1rem;
      height: 1rem;
      background-color: transparent;
      border: 1px solid $primary-color;
    }

    .is-active {
      background-color: $primary-color;
    }
  }

  .caption {
    position: absolute;
    top: 20%;
    width: 100%;

    h2{
      font-size: 3.5rem;
    }
  }
}

footer {
  padding: 2% 0;

  .logo-container {

    img {
      max-height: 80%;
      transition: .4s ease;
    }

    &:hover img {
      transform: scale(1.05);
    }
  }

  .social-links {
    margin-top: 4%;

    .fab {
      font-size: 1.5rem;
      color: white;
      transition: .4s ease;

      &:hover {
        color: $primary-color;
      }
    }
  }
}
