#home {

  .home-slider-container {

    min-height: 95vh;

    @media (max-width: 1366px) {
      min-height: 42vh;
      padding: 6% 0 6%;
    }

    @media (max-width: 768px) {
      min-height: auto;
      padding: 6% 0 6%;
    }

    @media (max-width: 414px) {
      min-height: 90vh;
      padding: 6% 0 6%;
    }
  }

  .caption {

    @media (max-width: 414px) {
      position: relative;
      margin-top: 24px;

      h2 {
        font-size: 2.6rem !important;
      }
    }
  }
}

#servicios {

  .services-container {
    padding: 4% 0 0;
  }

  .descubreMasServicios{

    @media (max-width: 1024px) {
      min-height: 12vh;
      margin: 2% 0;
    }

    @media (max-width: 768px) {
      margin: 2% 0;
    }
  }
}

.service-card {

  transition: .4s ease;

  &:hover .service-card-img {
    transform: scale(1.06);
  }

  .service-card-img {
    transition: .4s ease;

    img {
      max-width: 80%;
    }
  }

  .service-card-body {
    margin-top: 2%;
  }

}

.mas-servicios {
  margin-top: -2%;
  min-height: 25vh;
}

#metodologia {
  padding: 2% 0 2%;
  margin-top: -8%;

  @media (max-width: 1024px) {
    
  }

  @media (max-width: 414px) {
    margin-top: 0;
  }

  .metodologias {

    h2 {
      padding: 3% 0;
      line-height: 1.2;
      transition: .4s ease;

      &:hover {
        transform: scale(1.04);
      }
    }
  }
}

#clientes {
  padding: 4% 0 0;

  .impulsados {
    img {
      max-width: 80%;

      @media (max-width: 768px) {
        max-width: 100%;
      }
    }
  }

  .clientes-container {

    margin: -2% 0 5%;
  }
}
