// _menu.scss


.menu-trigger {
  cursor: pointer;
  // position: fixed;
  // padding: 2rem;
  top: 0;
  right: 0;
  z-index: 100;
  color: #fff;
  font-size: 3rem;
  // -webkit-transform: rotate(225deg);
  // transform: rotate(225deg);
  -webkit-transition: all 450ms ease;
  transition: all 650ms ease;

  &:hover {

  }
}

.menu-trigger.open {
  color: white;
  font-size: 3rem;
  // -webkit-transform: rotate(0deg);
  // transform: rotate(0deg);
  z-index: 99;
}

#nav-overlay {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: -1;
}


#nav-overlay nav {
  width: 100%;
  overflow: hidden;
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  list-style: none;
  z-index: 90;
  -webkit-transition: top 450ms ease;
  transition: top 450ms ease;
}

#nav-overlay nav li {
  display: block;
  text-align: center;
  margin: .6rem 0;
}

#nav-overlay nav a, #nav-overlay nav a:visited {
  font-size: 2.8rem;
  font-weight: 300;
  letter-spacing: 10px;
  line-height: 1.25;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  transition: .4s ease;
}

#nav-overlay nav a:hover, #nav-overlay nav a:focus, #nav-overlay nav a:visited, #nav-overlay nav a:visited:hover, #nav-overlay nav a:visited:focus, #nav-overlay nav a:visited:visited {
  text-decoration: none;
  font-size: 3.4rem;
}

#nav-overlay.open {
  z-index: 1;
}

#nav-overlay.open nav {
  top: 0; }

#nav-overlay:before, #nav-overlay:after {
  content: "";
  position: absolute;
  z-index: 50;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgb(0,0,63);
  transition: transform 450ms, -webkit-transform 450ms;

  background: rgb(0,0,63);
  background:  -moz-linear-gradient(-75deg, rgb(0,0,63) 0%, rgb(90,243,255) 100%);
  background:  -webkit-linear-gradient(-75deg, rgb(0,0,63) 0%,rgb(90,243,255) 100%);
  background:  linear-gradient(150deg, rgb(0,0,63) 0%,rgb(90,243,255) 100%) ;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00003f', endColorstr='#5af3ff',GradientType=1 );

  background-repeat: repeat-x;
  background-size: cover;
  background-repeat: repeat;
  background-position: center center;
}

#nav-overlay:before {
  left: 0;
  -webkit-transform: skew(50deg) translateX(-200%);
  transform: skew(50deg) translateX(-200%);
  clip: rect(auto 50vw auto auto);
}
@media (min-width: 500px) {

#nav-overlay:before {
  -webkit-transform: skew(50deg) translateX(-150%);
  transform: skew(50deg) translateX(-150%);
}
}

#nav-overlay.open:before {
  -webkit-transform: skew(0) translateX(0%);
  transform: skew(0) translateX(0%);
}

#nav-overlay:after {
  right: 0;
  -webkit-transform: skew(50deg) translateX(200%);
  transform: skew(50deg) translateX(200%);
  clip: rect(auto auto auto 50vw);
}
@media (min-width: 500px) {

#nav-overlay:after {
  -webkit-transform: skew(50deg) translateX(150%);
  transform: skew(50deg) translateX(150%);
}
}

#nav-overlay.open:after {
  -webkit-transform: skew(0) translateX(0%);
  transform: skew(0) translateX(0%);
}


.screen-reader-text {
  position: absolute;
  left: -999999em;
}
