#porqueBartech{

  .porque-icon-container {
    margin: 1% 0;
  }

  .porque-card-img {

    img {
      max-width: 70%;
    }
  }
}

#metodologia-page {
  padding: 2% 0;

  .title-metodologia-page {
    margin-bottom: .6rem;
  }
}

#saberMas{
  padding: 4% 0 2%;
}
