#portada-nosotros {

  .portada-container{
    min-height: 90vh;

    @media (max-width: 1366px) {
      min-height: 95vh
    }

    @media (max-width: 1024px) {
      padding: 6% 0 4%;
      min-height: 30vh
    }

    @media (max-width: 414px) {
      padding: 6% 0 4%;
      min-height: 90vh
    }
  }

  h2 {
    font-size: 3rem;
  }
}

#porqueBartech{
  margin-top: 2%;

  .porque-icon-container {
    margin: 3% 0 ;
  }

  .porque-card-img {

    img {
      max-width: 70%;
    }
  }
}

#metodologia-page {
  padding: 2% 0;

  .title-metodologia-page {
    margin-bottom: .6rem;
  }
}

#saberMas{
  padding: 4% 0 2%;
}
