#portada-servicios {

  @media (max-width: 414px) {
    padding: 6% 0;
  }

  .portada-title {
    padding-bottom: 10%;
  }

  .portada-container{
    min-height: 90vh;

    @media (max-width: 1024px) {
      min-height: 55vh;
      padding: 6% 0;
    }

    @media (max-width: 768px) {
      min-height: 45vh;
    }

    @media (max-width: 414px) {
      min-height: 45vh;

    }
  }

  h2 {
    font-size: 3rem;

    @media (max-width: 768px) {
      font-size: 2.3rem;
    }
  }
}

#servicios-page {
  padding: 2% 0 2%;

  .title-desarrollo {
    margin-bottom: -25%;

    @media (max-width: 414px) {
      margin-bottom: 0px;
    }
  }

  .microservice-card{
    cursor: pointer;
    margin: 12px 0;
    transition: .4s ease;

    &:hover {
      transform: scale(1.08);
    }

    &:focus {
      outline: none !important;
    }

    .microservice-title{
      padding: 0 12px;

      h4 {
        font-size: 2rem;

        @media (max-width: 768px) {
          font-size: 1.4rem;
        }
      }
    }

    .microservice-icon{

    }
  }

  .img-desarrollo {
    img {
      max-width: 80%;
    }
  }

  #servi-desarrollo-container {
    padding: 2% 0;
  }

  #servi-otros-container {
    padding: 2% 0;
  }

  #servi-bartech-container {
      padding: 2% 0;
  }
}

#trabajemosJuntos {
  padding: 6% 0 2%;

  h2 {

    @media (max-width: 414px ) {
      font-size: 2rem !important;
    }

  }

  .trabajemosJuntos-img {

  }

}
